@font-face {
    font-family: "LCD";
    src: url("CursedTimerUlil-Aznm.ttf");
}

#title-display {
    display: flex;
    justify-content: center;
}
#round-display {
    display: flex;
    justify-content: center;
}

#control-panel{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 20px 0 0 darkgray,
                0 0 0 2px rgba(220,220,220,0.8) inset,
                0 20px 0 1px black,
                0 20px 20px 1px rgba(0,0,0,0.5);

}

#time-display{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 148, 165);
    /* margin: 5px, 10px; */
    padding-top: 10px;
    height: 90px;
    width: 60%;
    color: rgba(9, 68, 75, 0.7);
    font-family: "LCD";
    font-size: xx-large;
    box-shadow: 0 0 3px 2px rgb(231, 231, 231) inset,
                0 0 1px 5px darkgray inset,
                0 10px 0 0 darkgray inset,
                0 0 5px 5px rgb(10, 91, 102) inset,
                0 12px 5px 5px rgb(10, 91, 102) inset;
}

#keypad {
    height: 600px;
    width: 600px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
#menu-screens {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
#start-screen {
    background-color: white;
    width: 75%;
    padding: 10px;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 5px 5px 3px rgba(95, 95, 95, 0.5);
}

#victory-screen {
    background-color: white;
    width: 75%;
    padding: 10px;
    border: 1px black solid;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 5px 5px 3px rgba(95, 95, 95, 0.5);
}

#game-over-screen {
    background-color: red;
    width: 75%;
    padding: 10px;
    border: 1px black solid;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 5px 5px 3px rgba(95, 95, 95, 0.5);
}

.play-button {
    width: 40%;
}

.reset-button {
    width: 40%;
}
.keypad-button {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(250, 250, 250);
    font-size: xxx-large;
    justify-content: center;
    align-items: center;
    color: gray;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);;
    box-shadow: 0 10px 0 0 rgb(230,230,230),
                0 0 0 2px rgba(210,210,210,0.8) inset,
                0 10px 0 1px black,
                0 10px 5px 1px rgba(0,0,0,0.5);
}

.keypad-button:active {
    top: 10px;
    box-shadow: 0 0 0 2px rgba(210,210,210,0.8) inset,
                0 1px 0 1px black;
}

.keypad-button.highlight {
    background-color: lime;
    color: rgba(30, 211, 54, 0.8);
    box-shadow: 0 10px 0 0 rgb(35, 151, 25),
                0 0 0 2px rgba(127, 255, 116, 0.8) inset,
                0 10px 0 1px black,
                0 10px 10px 5px rgba(20, 180, 15, 0.8);
}
.keypad-button.wrong {
    background-color: rgb(250, 33, 17);
    color: rgba(107, 5, 13, 0.8);
    box-shadow: 0 10px 0 0 rgb(148, 21, 5),
                0 0 0 2px rgba(240, 98, 79, 0.8) inset,
                0 10px 0 1px black,
                0 10px 10px 5px rgba(226, 34, 0, 0.8);
}