#title-display {
    display: flex;
    justify-content: center;
}
#round-display {
    display: flex;
    justify-content: center;
}

#control-panel{
    background-color: lightgray;
    width: 600px;
    margin: 0 auto;
}

#time-display{
    display: flex;
    justify-content: center;
    background-color: gray;
    margin: 5px, 10px;
}

#keypad {
    height: 600px;
    width: 600px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#menu-screens {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#start-screen {
    background-color: white;
    width: 75%;
    padding: 10px;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#game-over-screen {
    background-color: red;
    width: 75%;
    padding: 10px;
    border: 1px black solid;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.play-button {
    width: 40%;
}

#reset-button {
    width: 40%;
}
.keypad-button {
    /* width: 35%;
    height: 35%; */
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    background-color: gray;
    font-size: xxx-large;
    justify-content: center;
    align-items: center;
    color: white;
}